# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - app-chatbot

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: sterwenregistry-enbfhwczd3bxcxf2.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_C319B97C5E3446D89584105E91B4EA5E }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_60E4F97E71AA4FEB9C339F019AFA8F95 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: sterwenregistry-enbfhwczd3bxcxf2.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_C319B97C5E3446D89584105E91B4EA5E }}/sterwen-chatbot:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_6BF4C9966EB34FC38C8A86833A3D7853 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_1F7C7A8071084C39B3AFE50D49E48E06 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_A736CCC70DCB437499D99DE6191D32D8 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'app-chatbot'
          slot-name: 'Production'
          images: 'sterwenregistry-enbfhwczd3bxcxf2.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_C319B97C5E3446D89584105E91B4EA5E }}/sterwen-chatbot:${{ github.sha }}'
          