# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Chatbot Frontend to Azure Web App - app-chatbot-frontend

on:
  push:
    branches:
      - main
    paths:
      - 'frontend/**'
      - '.github/workflows/deploy-frontend.yml'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: sterwenregistry.azurecr.io
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_A06FD884267C4A4EB992B1A4D551284A }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_A3DEB582AB4048EF8ABD4CB58B564370 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: ./frontend
          push: true
          tags: sterwenregistry.azurecr.io/sterwen-chatbot-frontend:${{ github.sha }}
          file: ./frontend/Dockerfile.prod

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build

    steps:

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_7DEACDAC73004B1C8E4C3A8FC87163D9 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_5566EBC31B5C4950B97F328050FC3F7F }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_E42A218E714548BF93DA12CA7FD9E5CA }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'app-chatbot-frontend'
          slot-name: 'Production'
          images: 'sterwenregistry.azurecr.io/sterwen-chatbot-frontend:${{ github.sha }}'

